{% extends "base.html" %}

{% block head %}
<script>

</script>
{% endblock %}

{% block content %}
		<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
			<table id="portfolio_edit_tb">
			{% for field in form %}						            
		    	<tr>
		    		<td class="td_label" >{{ field.label_tag }}</td>
					<td align="left" >{{ field }}</td>
					<td class="red" >{{ field.errors }}</td>
				</tr>
			{% endfor %}
				<tr><td></td><td class="button-box" >
					<input type="submit" value="Save" style="width:80px" />
				</td></tr>
			</table>
		</form>
{% endblock %}