<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ STATIC_URL }}assets/css/style.css" rel="stylesheet" >
		<script src="{{ STATIC_URL }}assets/js/jquery.js"></script>
    	<title>Lean Agile Learning Machine</title>
		<script>
			var csrf_token = '{{ csrf_token }}'
			$(function(){	
				$('#search').focus(function(){
					$(this).val('')
				})	
					
				$('#btn_remove').click(function(){
					if(/\/student\/[0-9]+\//.test(document.location.pathname)){
						if(confirm('Are you sure you want to delete this student? This can not be undone.')){
							$.get(document.location.pathname + 'remove/', {}, function(id){
								if(id != '0'){
									alert('Student was removed successfully');
									if(id == '-1')
										document.location.href = '/'
									else if(id > 0)
										document.location.href = '/student/' + id + '/'
								}
								
							})
						}
					}					
				})
			})		
		</script>
		{% block head %}
		
        {% endblock %}
    </head>
	<body>
		<div>
			<form action="/search">
			<table id="nav_box" width="100%">
				<tr>
					<td><input id="search" name="s" style="width:300px" value="{% if s %}{{ s }}{% else %}Search...{% endif %}"/></td>
					
					<td class="nav_btn" valign="top" align="right">
						<a href="{% url student-add %}"><img src="{{ STATIC_URL }}assets/img/add.png"/></a>
						{% if student %}
							<a href="javascript:;" id="btn_remove"><img src="{{ STATIC_URL }}assets/img/remove.png"/></a>
							{% if prev_student %}
							<a href="{% url student-profile prev_student %}"><img src="{{ STATIC_URL }}assets/img/prev.png"/></a>
							{% endif %}
							{% if next_student %}
							<a href="{% url student-profile next_student %}"><img src="{{ STATIC_URL }}assets/img/next.png"/></a>
							{% endif %}
						{% endif %}
						<a href="{% url student-first %}"><img src="{{ STATIC_URL }}assets/img/first.png"/></a>
						<a href="{% url student-last %}"><img src="{{ STATIC_URL }}assets/img/last.png"/></a>						
					</td>
					
				</tr>
			</table>
			</form>
			<div id="container"  class="right" >
				<table width="100%"><tr><td >
					{% block content %} {% endblock %}
				</td></tr></table>
			</div>
		</div>
		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
	</body>
</html>