body{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;	
}

textarea{
	resize:none;
}

.left{
	float:left;
}

.right{
	float:right;
}

#container{
	width:90%;
}

#nav_box{
	border:1px solid black;
}

#profile_details tr{
	height: 100px;
}

#profile_details td{
	padding:10px;
}

.border_box{
	border:1px solid black
}

.with_padding{
	padding:10px;
}
